@page
@model ServiceHost.Pages.Index1Model
@{
}

<table>
    <thead>
        <tr>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListModel)
        {
            <tr>
                <td>@item.Name</td>
            </tr>
        }
    </tbody>
</table>